<launch>
  <arg name="type" default="hand" /> <!-- [hand, mocap, wholebody] -->
  <arg name="camera" default="realsense" />

  <include file="$(find mocap_ros)/launch/camera.launch">
    <arg name="camera" value="$(arg camera)" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mocap_ros)/rviz/$(arg type).rviz" required="true" />
</launch>
